/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

 body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } 



.container-top{
    display: flex;
    align-items: center;
    min-height: 5px;
    max-width: 1180px;
    width: 100%;
    padding: 10px 8px;
/*     border: 1px dashed black;
 */}

/* TYPOGRAPHY */
main h1, h2, h3, p{
    color: #23272A;
}

main h2{
    margin-bottom:15px;
}
.links a {
    color: white;
}

.hero-box{
    text-align: center;
    padding: 50px 0;
}

.hero-box h1{
    color: white;
    font-size: 50px;
      margin-bottom: 50px;
 } 

.hero-box p{
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
}

.fourth-section .col100{
    text-align: center;
}

footer h3{
    color: #7289DA ;
}

footer h3{
    font-size: 20px;
}

span.left-footer{
    color: white;
}

/* BUTTON */
.btn {
    background-color:transparent;
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.btn-white{
    color: black;
    background-color:white;
}

.btn-black{
    background-color: #23272A;
    color: white;
}

.btn-blue{
    background-color: #8EA1E1;
    color: white;
}

.butt-hero > .btn{
    margin: 0 10px;
}

/* HEADER */
header {
    display: flex;
     justify-content: center;
    min-height: 10px;
    padding: 10px 0;
}

header, .container-top{
    background-color: #3161E0;
}

.container-top .logo {
    width: 20%;
/*     border: 1px dashed black;
 */}

.container-top .links {
    width: 60%;
    text-align: center;
/*     border: 1px dashed black;
 */    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}



.links a {
    text-decoration: none;

}

.container-top .login{
    width: 20%;
    text-align: end;
/*     border: 1px dashed black;
 */
}

/* MAIN */

/* hero */

main .hero {
    background-image: url(img/jumbo.png);
    background-size: cover;
    min-height:200px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

main .hero-box{
    background-color: transparent;
    max-width: 920px;
    width: 80%;
    min-height: 200px;
    padding: 50px 0 80px 0;
/*     border: 1px dashed black;
 */}



/* section */

.first-section, .second-section, .third-section{
    display: flex;
    min-height:200px;
    justify-content: center;
    padding: 30px 0;
}

.fourth-section {
    display: flex;
    justify-content: center;
    min-height:900px;
    padding: 30px 0;
}


.first-section img, .second-section img, .third-section img, .fourth-section img{
        max-width: 100%;
        height: auto;    
}


 .fourth-section h3{
    display: inline-block;
    height: 60px;
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    line-height: 60px;
    margin-bottom: 10px; 
} 


.container-main {
    max-width: 1180px;
    width: 100%;
    min-height:400px ;
    background-color: transparent;
/*     background-color: gray;
 */    display: flex;
    
}



/* column */

.col{
    padding: 40px;
}

.col60 {
    width: 60%;
    height: 100%;
    background-color: transparent;
/*     border: 1px dashed black;
 */}

.col40 {
    width: 40%;
    height: 100%;
/*     border: 1px dashed black;
 */}

.col100{
    width: 100%;
    height: 700px;
/*     border: 1px dashed black;
 */}

.bgwhite{
     background-color: #FFFFFF;

}

.bgblue{
    background-color:#1E90FF;
}

.bgpink{
    background-color: #ECB2BC;
}

.bggray{
    background-color:#F6F6F6;
}

.bggreen{
    background-color:#228B22 ;
}

.bgdark {
    background-color: #23272A;
}

.bgdarkpink{
    background-color: #F08080;
}

.bgaqua {
    background-color: #20B2AA;
}

.bglightgreen{
    background-color:#7FFFD4;
}

.bgmediumpink{
    background-color:#FFB6C1;
}

/* FOOTER */

.upper-footer{
    display: flex;
    min-height:200px;
    justify-content: center;
    padding: 8px 0 28px 0;
    border-bottom: 1px solid  #EFEFEF ;
}

.bottom-footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 25px 0 0 0;
    border-bottom: 1px solid  #EFEFEF ;
}

.bottom-footer .container-footer{
    display: flex;
    justify-content: space-between;
    width: 1180px;
    min-height: 5px;
    padding: 15px 0 5px 0;
}

.bottom-logo {
    padding: 6px 10px;
    cursor: pointer;
    border: 1px dashed black;
}

.bottone{
    padding: 6px 10px;
    cursor: pointer;
    border: 1px dashed black;
}


.col30{
    width: 30%;
    height: 100%;
    border: 1px dashed black;
}

.col80{
    width: 80%;
    height: 100%;
    border: 1px dashed black;
    display: flex;
}

.col20{
    width: 20%;
    height: 100%;
    border: 1px dashed white;

}

img.left-footer{
    width: 30px;
} 

